body{
	-webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
}


/*Card redisign*/
.apercu{
	height: 200px;
}

.apercu-caroussel{
	height: 500px;
}

.title, .title *{
	font-size: 1rem !important;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: 500 !important;
}

.price{
	color: tomato;
	font-weight: 500 !important;
}

.stock{
	color:  rgb(0, 171, 85);
}

.post{
	/*box-shadow: none !important;*/
	height: 450px !important;
}

.right{
	position: absolute;
	vertical-align: middle;
	right: 30px;
	top: auto;
	bottom: auto;
}

.price{
	color: tomato;
	text-align: left !important;
	margin-left: 20px !important;
	padding-left: 0 !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

.rating{
	color: tomato;
	text-align: left !important;
	margin-left: 0px !important;
	padding-left: 0 !important;
}

hr{
	background: #f0f1f1;
	border: solid 1px #f0f1f1;
	margin: 10px auto;
}

.custom-select{

	padding: 10px;
	margin: auto 10px;
	border: solid 1px rgba(0, 0, 0, .2);
	font-size: 1.1rem
}

.custom-select-adm{
	margin: auto auto;
	font-size:1rems;
}

.custom-action{

	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	position: absolute;
	bottom: 40px;
}

.ctg{

	padding: 20px;
}

.modal-rating{

	max-width: 900px;
	width: 500px;
	min-width: 200px;
}

.text-rating{

	width: 100% !important;
}

.msg{

	background: #f4f7fa;
	padding: 1px;
	border-radius: 10px;
}

.w100{

	width: 100%;
}

.post{

	opacity: .95;
}

.post-annim:hover{

	margin-top: -5px;
	opacity: 1;
	transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;

}

.custom-content{

	position: absolute;
	height: 500px;
	width: 100%;
	top: 0;
	color: white !important;
	background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .7), rgba(0, 0, 0, .2), rgba(0, 0, 0, .08));
	display: flex;
	align-items: center;
	justify-content: start;
	transition: all linear .4s;
}

.custom-content-subtitle{

	opacity: .6;
	transition: all linear .4s;
}


.custom-content-button{

	padding: auto 10px;
	color: rgba(255, 255, 255, .8);
	background: rgba(255, 255, 255, .04);
	transition: all linear .4s;
}

.custom-content-button:hover{

	background: rgba(255, 255, 255, .08);
	transition: all linear .4s;
}

.sc-bdvvtL{
	position: absolute;
	background: rgba(255, 255, 255, .2);
}

.rec-dot_active{

	box-shadow: 0 0 1px 3px rgb(6, 121, 50);
	opacity: .7;

}

.sc-bdvvtL:hover{

	background: #067932 !important;
	opacity: 1;
	transition: all cubic-bezier(0.755, 0.05, 0.855, 0.06) .3s;
}

.rec-arrow-right{
	right: 0;
}
.rec-arrow-left{
	left: 0 !important;
	z-index: 100;
}

.sc-hKwDye, .sc-eCImPb, .sc-jRQBWg, .rec-slider-container{

	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	
}

.caroussel, .caroussel *{

	border-radius: 0px !important;
}

._FCdzt{

	margin-top: 0px !important;
}

.imgTable{

	width: 100px !important;
	height: auto !important;
	border: solid 3px rgba(0, 0, 0, .08);
	vertical-align: middle;
	border-radius: 4px;
	display: inline-block;
	margin-right: 5px;
}

.customAlert{

	z-index: 9999;
	position: fixed !important;
	left: 300px !important;
}

.customUp{

	z-index: -80 !important;

}

.customUp *{

	z-index: -80 !important;
}

._2B-m5{
	z-index: -60 !important;
}

._GQrmn{
	z-index: -60 !important;
}


.create-book-photo-input{
	z-index:  70 !important;
} 

.custom-img-edit{

	height: 300px !important;
	width: auto;
}